.details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.detail--column {
    flex-basis: 24%;
    margin: 0 2rem;
    padding: 1rem;
    border: 1px dotted rgb(40, 88, 176);
}

.orders {
    font-size: 15px;
    padding: 1rem 10rem;
}

